* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-size: 22px;
    font-family: Arial, serif;
    color: #222;
    background-color: #f8f8f8;
    width: 90%;
    margin: 1em auto;
}

button {
    font-size: inherit;
}

#app {
    font-size: 1.7em;
    line-height: 1.4em;
}

#timer {
    float: right;
}

#paragraph {
    margin-bottom: .5em;
}

#timer {
    color: #333;
}

input {
    font-family: inherit;
    font-size: inherit;
}

input[type=radio] {
    height: .6em;
    width: .6em;
}

.question-text {
    margin-bottom: 1em;
}

.question-form input {
    padding: .1em .2em;
}

.muted {
    color: #666;
}

.question-form label {
    border-right: 5px solid transparent;
}

.question-form label,
.question-form label input {
    color: #555;
    cursor: pointer;
    padding-right: .3em;
}

.question-form label:hover {
    color: #111;
    border-right: 5px solid rgb(92, 130, 152);
}

.hint {
    color: #666;
    font-size: .7em;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: 100%;
    display: block;
    background-color: #fefefe;
    box-shadow: 0 0 2px #333;
    height: 6em;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.inline-block {
    display: inline-block;
}

h3 {
    font-size: 1.1em;
    color: #333;
}

hr {
    margin: 1em 0;
}

a {
    color: #057cb8;
    border-bottom: 1px solid #057cb8;
    text-decoration: none;
}

button,
.button {
    background-color: transparent;
    border: 2px solid #999;
    border-radius: 1px;
    outline: 0;
    padding: .4em 1em;
    letter-spacing: 1px;
    cursor: pointer;
    color: #666;
    text-decoration: none;
}

button:hover,
.button:hover {
    border-color: #111;
    color: #333;
}

.large button {
    font-size: 1.2em;
}

ul li {
    line-height: 1.4em;
}
