<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Arithmetic test</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="page">
            <div id="instructions" v-if="!showApp">
                <h1>Arithmetic test</h1>
                <ul>
                    <li>You will be presented with an arithmetic problem and a box below it to type the answer in.</li>
                    <li>You must answer the question correctly but as fast as possible.</li>
                    <li>A timer will appear below the box to show how long you are taking.</li>
                    <li>Once you click the OK button (or press enter), the test will load and the timer will have begun. You can start answering immediately.</li>
                </ul>
                <div class="text-center large"><button v-on:click="toggleToApp()">Okay, start!</button></div>
            </div>
            <div id="app" v-if="showApp">
                <form class="text-center question-form" v-on:submit.prevent="questionDone()">
                    <div class="text-center question-text">{{question.text}}</div>
                    <div class="text-center">
                        <input type="text" class="text-center" id="answer" size="4" v-model="answer" autocomplete="off">
                        <div class="hint"><small>Press enter to submit the answer.</small></div>
                    </div>
                    <div id="timer" class="text-center">{{elapsedSeconds.toFixed(1)}} seconds</div>
                </form>
            </div>
        </div>
        <script src="bower_components/vue/dist/vue.js"></script>
        <script src="bower_components/mousetrap/mousetrap.min.js"></script>
        <script src="bower_components/store-js/store.min.js"></script>
        <script src="js/state.js"></script>
        <script src="js/arithmetic.js"></script>
    </body>
</html>
