<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pick the odd one out test</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="page">
            <div id="instructions" v-if="!showApp">
                <h1>Pick the odd one out test</h1>
                <ul>
                    <li>You will be presented with an MCQ problem of choosing the odd one out.</li>
                    <li>You must try to pick the option as fast as possible.</li>
                    <li>A timer will appear below the box to show how long you are taking.</li>
                    <li>Once you click the button below (or press enter), the test will load and the timer will have begun. You can start answering immediately.</li>
                </ul>
                <div class="text-center large"><button v-on:click="toggleToApp()">Okay, start!</button></div>
                <div class="screenshot-container">
                    <h4>Example:</h4>
                    <img src="choose.png" />
                </div>
            </div>
            <div id="app" v-if="showApp">
                <form class="text-center question-form" v-on:submit.prevent="questionDone()">
                    <div class="text-center question-text">Pick the odd one out</div>
                    <div>
                        <div class="inline-block text-left">
                            <div v-for="option in question.options">
                                <label>
                                    <input type="radio" v-model="picked" :value="option">
                                    {{option}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="timer" class="text-center">{{elapsedSeconds.toFixed(1)}} seconds</div>
                </form>
            </div>
        </div>
        <script src="bower_components/vue/dist/vue.min.js"></script>
        <script src="bower_components/mousetrap/mousetrap.min.js"></script>
        <script src="bower_components/store-js/store.min.js"></script>
        <script src="js/state.js"></script>
        <script src="js/choose.js"></script>
    </body>
</html>
